BasedOnStyle: Microsoft

ColumnLimit: 0
PointerAlignment: Left
AllowAllArgumentsOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
Cpp11BracedListStyle: false
IndentWidth: 4
MaxEmptyLinesToKeep: 1
